/*About Us Page*/

/* Logo and img design */
.logo-container{
    margin: 0.5%;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 30vh;
}
#logo-about-us{
    height: 17vh;
    width: 25vw;
}

#h1-logo-text{
    font-size: 4rem;
    margin-top: 2%;
    color: #104d40;
}

/* our story design */
.our-story-container{
    margin: 0.5%;
    height: 55vh;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow: hidden; 
}
.our-story-img{
    display: flex;
    flex-direction: row;
}
#h1-story{
    margin-bottom: 2% ;
    font-size: 3.5rem;
    color: #104d40;
}
.our-story-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    margin-left: -2%;
    margin-bottom: 2.5%;
}
.story-img{
    width: 10vw;
    height: 17vh;
    border: 1px solid black;
}
.img1 .im2{
    position: relative;
}
.img2{
    position: relative;
    top: 50px;
    right: 130px;
}

.content-img{
    display: flex;
    flex-wrap: wrap;
    margin-left: 14%;
}
.our-story-text{
    font-size: 1.6rem;
    width: 36vw;
}
#pattern{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    
}
#story-side-pattern{
    margin-right: 0;
    width: 22vw;
    height: 59vh;
    transform: rotate(180deg);
}
/* Events design */
.event-container{
    margin: 0.5%;
    height: 105vh;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid black;
}
#h1-event{
    margin-bottom: 1.5%;
    color: #104d40;
    font-size: 3.5rem;
}
.event-content{
    text-align: center;
}
.event-img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.1%;
    align-items: center;
}
.event-img{
    width: 23vw;
    height: 75vh;
    border: 10px solid #104d40;
    margin-left: 1%;
    margin-right: 1%;
}
#our-socials{
    text-align: center;
    margin-bottom: 1.1%;
}
#our-socials-btn{
    width: 15vw;
    height: 5vh;
    border-color: #CE5B68;
    border-style: solid;
    border-width: 3px;
    background-color: white;
    color: #CE5B68;
    cursor: pointer;
}
#our-socials-btn:hover{
    color: white;
    background-color: #CE5B68;
}
/* Our Food design */
.our-food-container{
    margin: 1%;
    height: 55vh;
    margin-top: 1.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#h1-our-food{
    color: #104d40;
    font-size: 3.5rem;
}
.our-food-content{
    text-align: center;
    width: 30vw;
    margin-bottom: 1.1%;
}
.our-food-img-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.our-food-img{
    width: 40vw;
    height: 35vh;
    border: 10px solid #104d40;
}
.visit-menu-btn{
    margin-top: 5%;
    width: 15vw;
    height: 5vh;
    border-color: #CE5B68;
    border-style: solid;
    border-width: 3px;
    background-color: white;
    color: #CE5B68;
    cursor: pointer;
}
/* Quality Assurance design */
.quality-assurance-container{
    margin: 0.5%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: flex-start;
}
.quality-assurance{
    height: 25vh;
}
.quality-certification{
    display: flex;
    justify-content: flex-start;
}
.cert-img{
    width: 5vw;
    height: 9vh;
    margin: 1%;
}
.cert-text{
    font-size: 1.6rem;
}
