/* Navigation */
.nav-bar-cart {
    display: flex;
    flex-direction: row;
    margin-left: 0.5%;
}

.nav-bar-cart a {
    text-decoration: none;
    color: #104d40;
    font-weight: 900;
}

.go-back-text,
.go-back-btn {
    padding: 0.5%;
    margin: 0.5% 0;
}

.go-back-btn {
    fill: black;
    font-size: 1.5rem;
}

.go-back-text {
    font-size: 1.2rem;
}
/* Body */
table{
    border-collapse: collapse;
    margin: 1%;
}
th, td{
    border: 1px solid black;
}
th, td{
    width: 200px;
    padding: 2%;
    text-align: center;
}