/* Navigation */

.nav-bar-cart {
    display: flex;
    flex-direction: row;
    margin-left: 0.5%;
}

.nav-bar-cart a {
    text-decoration: none;
    color: #104d40;
    font-weight: 900;
}

.go-back-text,
.go-back-btn {
    padding: 0.5%;
    margin: 0.5% 0;
}

.go-back-btn {
    fill: black;
    font-size: 1.5rem;
}

.go-back-text {
    font-size: 1.2rem;
}
/* Body */

.cart-body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}
table{
    display: none;
    border-collapse: collapse;
    margin: 1%;
}
th, td{
    border: 1px solid black;
}
th, td{
    width: 200px;
    padding: 2%;
    text-align: center;
}
#total-div{
    position: absolute;
    bottom: 5px;
    display: none;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#total-div p, #total-div b, #total-div button{
    margin: 10px;
    font-size: 1.5rem;
}
.checkout-btn{
    padding: 1.5% 2%;
    margin: 1%;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#checkout-icon{
    font-size: 1rem;
    margin-right: 5px;
}
#empty-cart{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
}