/* Body */
body>h1{
    display: none;
    margin: 1%;
    margin-top: 2%;
    text-align: center;
}
.cart-body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
/* Items table */
table{
    display: none;
    border-collapse: collapse;
    margin: 1%;
    box-shadow: 5px 5px 15px gray;
    margin-bottom: 100px;
}
th, td{
    border: 1px solid black;
    /* background-color: white; */
    width: 200px;
    padding: 2%;
    text-align: center;
}
.middle-box, #title-heading, #title-price, #item-name{
    border-left: none;
    border-right: none;
}
tr .row-box:first-child, #title-item{
    border-right: none;
}
tr .row-box:last-child, #title-empty{
    border-left: none;
}
/* Total amount */
#total-div{
    position: absolute;
    bottom: 5px;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: center;
    display: none;
}
#total-div p, #total-div b, #total-div button{
    margin: 10px;
    font-size: 1.5rem;
}
.checkout-btn{
    padding: 1.5% 2%;
    margin: 1%;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#checkout-icon{
    font-size: 1rem;
    margin-right: 5px;
}
#empty-cart{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
input[type=number]{
    outline: none;
    margin-left: 5px;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    
}
.food-img{
    width: 200px;
    height: 150px;
}
.remove-btn{
    padding: 5px 12px;
    background-color: #104d40;
    color: white;
    border: none;
    border-radius: 12px;
}
.img-col{
    width: 300px;
    border-right: none;
}
/*Pop Up*/
.pop-up-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: fixed;

}
.pop-up{
    width: 300px;
    height: 180px;
    background-color: #F8EFE5; 
    z-index: 5;
    display: none;
    text-align: center;
    border-radius: 12px;
}
.pop-up p{
    font-size: 1.2rem;
}
.popBtns{
    margin: 2%;
    margin-top: 4%;
}
.popBtns button{
    font-size: 1.1rem;
    width: 50px;
    background-color: white;
    border-radius: 6px;
}

.close-btn{
    background-color: #F8EFE5;
    border: none;
    font-size: 1.4rem;
    align-self: flex-end;
    margin: 4%;
}
.popBtns button:first{
    margin-right: 40px;
}
.close-btn svg{
    fill: black;
}
.close-btn svg:hover{
    fill: #FAD370;
}
@media screen and (max-width: 570px){
    .food-img{
        width: 120px;
        height: 100px;
        margin: 5px;
    }
    .row-box{
        padding: 1%;
    }
    table{
        font-size: 0.8rem;
    }
}