/*Home Page*/
.home-body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  color: black;
}
.home-wel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  position: relative;
  background-color: #bac9a393;
}
.bg-image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120vh;
}
.main-logo{
  position: relative;
  width: 75vw;
}
.signing-options{
  position: absolute;
  bottom: 11%;
  margin: 1%;
  width: 100%;
  text-align: center;
}
.signing-options button{
  background-color: #F8EFE5;
  border: 3px solid #104d40;
  width: 100px;
  padding: 0.5%;
  font-size: 1.2rem;
  margin: 0.5%;
}
.sign-links{
  text-decoration: none;
  color: #104d40;
  padding: 1%;
  margin: 1% 0.5%;
  font-weight: 500;
}
.signing-options button:hover .sign-links{
  /* background-color: #C8EFE5; */
  color: #F8EFE5;
  transition: all 0.5s ease;
}
.signing-options button:hover{
  /* background-color: #C8EFE5; */
  border: 3px solid #CE5B68;
  background-color: #CE5B68;
  color: #F8EFE5;
  transition: all 0.5s ease;
}