/*Home Page*/
.home-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  flex-wrap: wrap;
  color: black;
}
.home-wel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.bg-image{
  opacity: 0.70;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
}
.main-logo{
  position: relative;
  width: 75vw;
}
.signing-options{
  position: absolute;
  bottom: 10%;
  margin: 1%;
  width: 100%;
  text-align: center;
}
.sign-links{
  text-decoration: none;
  color: #104d40;
  padding: 0.5% 1%;
  border: 3px solid #104d40;
  margin: 1% 0.5%;
  width: 25%;
  font-weight: 500;
  background-color: #F8EFE5;
}
.sign-links:hover{
  /* background-color: #C8EFE5; */
  color: #F8EFE5;
  border: 3px solid #CE5B68;
  background-color: #CE5B68;
}