/*Menu Page*/
.menu-body{
    min-height: 100vh;
}
.menu-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/20170803/pngtree-Food-Menu-Fare-Meal-background-photo-869492.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #F8EFE5;
}
.menu-main{
    position: relative;
}
/*Navigation of Menu*/
.menu-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CE5B68;
    width: 100%;
    max-height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.menu-section-nav{
    margin: 0 1%;
    font-size: 1.4em;
    padding: 1%;
    width: 130px;
    text-align: center;
    color: #F8EFE5;
}
.menu-section-links{
    text-decoration: none;
    color: #F8EFE5;
    width: max-content;
}
.menu-section-nav, .menu-section-links:hover{
    color: #fad370;
}
.main-section-nav, .bev-section-nav{
    position: relative;
    display: inline-block;
}
.main-items-list, .beverages-items-list{
    list-style: none;
    padding: 10%;
    text-align: left;
    background-color: #CE5B68;
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    display: none;
    min-width: 160px;
    z-index: 1;
    margin-top: 1%;
}
.main-items-options, .bev-items-options{
    margin: 1.5%;
    display: block;
    width: fit-content;
}
.main-items-links, .bev-items-links{
    text-decoration: none;
    color: #F8EFE5;
}
.main-items-links:hover, .bev-items-links:hover{
    color: #FAD370;
}
.main-section-nav:hover .main-items-list{
    display: block;
    transition: all 5s ease;
}
.bev-section-nav:hover .beverages-items-list{
    display: block;
    transition: all 5s ease;
}
#cart-icon-menu{
    cursor: pointer;
    font-size: 1.8em;
    position: absolute;
    right: 5px;
    top: 25%;
    margin-right: 0;
}
#cart-icon-menu:hover{
    fill: #FAD370;
}
/*Menu*/
.menu-sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.section-title{
    padding-top: 65px;
    margin-top: -65px;
    margin: 1%;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    width: 100%;
}
.subsection-title{
    /* margin-left: 150px; */
    scroll-margin-top: 87px;
}
.menu-subsection{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    /* margin: 3%; */
    flex-wrap: wrap;
    width: 85vw;
}
.menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 85vw;
}
.menu-item{
    margin: 30px 0;
    margin-right: 45px;
    background-color: #BAC9A3;
    width: 230px;
    height: 380px;
    padding: 15px;
    position: relative;
    border-radius: 3px;
}
.img-menu-item{
    width: 230px;
    height: 200px;
}
.menu-item-details{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 3%;
    right: 3%;
}
.menu-item-name{
    text-align: center;
    margin: 0.2%;
}
.menu-item-description{
    height: 100px;
}
.quantity-title, .add-btn{
    font-size: 1.1rem;
}
.quantity-title{
    font-weight: 700;
}
.menu-item-quantity{
    margin: 1%;
    margin-right: 5%;
    width: 35px;
    font-size: 0.8rem;
}
.add-btn{
    padding: 6% 10%;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.3rem;
}
/*Checkout*/
.checkout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 3px dashed black;
}
.total-title, .total-price{
    padding: 2% 1%;
    align-self: center;
}
.checkout-btn{
    padding: 1% 1.5%;
    font-size: 1.1rem;
    margin: 1%;
}
#cart-icon-checkout, #checkout-icon{
    fill: black;
    font-size: 2em;
}
/*Up and Down Buttons*/
.up-down{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: -webkit-sticky;
    position: sticky;
    bottom: 5px;
    right: 5px;
}
.up-down-btns{
    background-color: #CE5B68;
    padding: 1%;
    font-size: 1.2rem;
    margin: 0.2%;
    border-radius: 100%;
}
#up-btn{
    display: none;
}
.up-down-btns:hover{
    background-color: #fad370;
}
/*Pop-up Msg*/ 
.pop-up{
    width: 20vw;
    height: 25vh;
    position: fixed;
    top: 40%;
    left: 40%; 
    background-color: #F8EFE5;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 4px 3px gray;
    z-index: 5;
    display: none;
}
.close-btn{
    background-color: none;
    border: none;
    font-size: 1.5rem;
    align-self: flex-end;
    margin: 1%;
}
.close-btn svg{
    fill: black;
}
.close-btn svg:hover{
    fill: #FAD370;
}
#login-btn{
    font-size: 1.2rem;
    align-self: flex-end;
    margin: 1%;
    padding: 1% 2.5%;
    border-radius: 12px;
    background-color: #FAD370;
    border: none;
}
#login-btn:hover{
    background-color: #debb61;
}