/* Container */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.content {
  margin: 20px 0px;
  position: relative;
  width: 55vw;
  background-color: #bac9a38f;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 3px 3px 10px rgb(198, 198, 198);
}

/* Title */
.content h1 {
  position: relative;
  font-size: 35px;
  font-weight: 600;
  color: #333;
}

.content form {
  margin-top: 30px;
}


form .form-section {
  display: flex;
  flex-wrap: wrap;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 15px 0px;
}

.input-field input {
  padding: 10px;
  margin-top: 5px;
  width: auto;
}


/* Gender options */
form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #ffffff;
  border: 5px solid transparent;
  transition: all 0.2s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #c94353;
  border-color: #eaeaea;
}

form input[type="radio"] {
  display: none;
}



/*Accept Terms and Conditions */

.paragraph {
  overflow-y: auto;
  max-height: 300px;
  border: 1px solid #104d40;
  padding-left: 5px;
}

.hidden {
  display: none;
}

/*Checkbox*/

.check {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.check h3 {
  margin-left: 5px;
  font-size: 15px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #555;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}


input[type="checkbox"]:checked {
  background-color: #c94353;
  border-color: #c94353;
}


input[type="checkbox"]:checked::before {
  content: '✓';
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*center alignment*/
.button,
.form-link,
.line-break,
.media {
  text-align: center;
}

/*button*/
#btn {
  padding: 1.3%;
  margin: 15px 0px;
  width: 200px;
  min-height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #ce5b68;
  font-size: 1.2em;
  color: aliceblue;
  box-shadow: 3px 3px 10px rgb(202, 202, 202);
}

#btn:hover {
  background-color: #c94353;
}


.form-link {
  margin-top: 10px;
}


.paragraph{
  background-color: white;
}

.login-link{
  color: #c94353;
}
.login-link:hover{
  color: #c41c30;
}
/*Media*/

.line-break h3{
  margin-top: 10px;
}
.media{
  margin-top: -10px;
}
.media .fa {
  padding: 20px;
  font-size: 22px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  margin: 40px 8px;
  border-radius: 50%;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-google {
  background: #dd4b39;
  color: white;

}
.fa-facebook:hover{
  background-color: #2a4d96 ;
}
.fa-google:hover{
  background: #d8422e;

}



/*Error*/
.input-field small {
  display: flex;
  margin-top: 5px;
  color: #ee0d0d;
  visibility: hidden;

}

.error small {
  border: 1px solid red;
  background-color: rgba(247, 239, 239, 0.846);
  color: red;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
}

.error small {
  visibility: visible;
}

/*Media Queries*/
@media screen and (max-width: 850px) {
  .gender-details .category {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
  }

  .gender,
  .dot {
    margin-right: 10px;
    margin-top: 4px;
  }
}