/*Body*/

.sign-in-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main Sign In Container */
.home-sign-in {
    display: flex;
    flex-direction: column;
    margin: 30px 1%;
    padding: 1.05%;
    width: 355px;
    height: 600px;
    background-color: #bac9a38f;
    color: #333;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Sign In Title */
.sign-in-title {
    margin-top: 8px;
    margin-bottom: 2%;
    font-size: 35px;
    font-weight: 600;
    font-family: tw cen mt std;
}

/* Labels for Inputs */
.sign-in-lbl {
    margin: 1%;
    font-size: 1.4rem;
    margin-top: 10%;
}

/* Input Fileds*/
.sign-in-input {
    margin: 1%;
    font-size: 1.2rem;
    height: 3.5vh;
    width: 320px;
    outline: none;
    padding: 5px;
}

/* Eye Icon */
div i {
    margin-left: -35px;
    cursor: pointer;
    color: black;
}


/* Submit Button */
.sign-in-btn-submit {
    align-self: center;
    padding: 1.3%;
    margin: 15px 0px;
    width: 200px;
    min-height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #ce5b68;
    font-size: 1.2em;
    color: aliceblue;
    box-shadow: 3px 3px 10px rgb(202, 202, 202);
}


.sign-in-btn-submit:hover {
    background-color: #c94353;
    color: white;
}

/* Sign Up Text and Links */
.sign-up-text {
    align-self: center;
}

.sign-up-link {
    color: #CE5B68;
}
.sign-up-link:hover {
    color: #c41c30;
}

/* Media Icons */
.media {
    text-align: center;
}

.media .fa {
    padding: 20px;
    font-size: 22px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 20px 8px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}



.fa-google {
    background: #dd4b39;
    color: white;

}
.fa-facebook:hover{
    background-color: #2a4d96 ;
}
.fa-google:hover{
    background: #d8422e;

}


/*Error*/

.input-field small {
    display: flex;
    margin-top: 5px;
    margin: 1.5%;
    color: #ee0d0d;
    visibility: hidden;
}

.error small {
    border: 1px solid red;
    background-color: rgba(247, 239, 239, 0.846);
    color: red;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    width: 310px;
}

.error small {
    visibility: visible;
}

/* media queries */
@media screen and (max-width: 1050px) {
    .login-in-img {
        display: none;
    }
}