/*Body*/
.sign-in-body {
    display: flex;
    align-items: center;
    height: 75vh;
    flex-wrap: wrap;
}

.home-sign-in {
    display: flex;
    flex-direction: column;
    margin: 1%;
    margin-left: 12%;
    margin-bottom: 15%;
    padding: 1.05%;
    width: 27vw;
    height: 65vh;
    background-color: #104d40;
    color: white;
    border-radius: 12px;
}

.sign-in-title {
    margin-bottom: 5%;
    text-align: center;
    font-size: 3rem;
}

.sign-in-lbl {
    margin: 1%;
    font-size: 1.4rem;
    margin-top: 10%;
}

.sign-in-input {
    margin: 1.5%;
    font-size: 1.2rem;
    height: 3.5vh;
    width: 26vw;
    outline: none;
}

div i {
    margin-left: -7%;
    cursor: pointer;
    color: black;
}

.sign-in-btn-submit {
    align-self: center;
    margin: 1.3%;
    width: 7vw;
    font-size: 1.3rem;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-top: 12%;
    margin-bottom: 8%;
    padding: 2%;
    border-radius: 12px;
}

.sign-in-btn-submit:hover {
    background-color: #CE5B68;
    color: white;
}

.sign-up-text {
    align-self: center;
}

.sign-up-link {
    color: #CE5B68;
}

.home-sign-in-img {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 75vh;
    margin-bottom: 10%;
}

.login-in-img {
    width: 50vw;
    height: 65vh;
    padding: 2%;

}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    display: none;
}

#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error-msg-second-line {
    display: block;
}