*{
    margin: 0;
    padding: 0;
    font-family: 'Satisfy', cursive;
}
html{
    scroll-behavior: smooth;
}
h1{
    margin: 0.5%;
}
/*Navigation Bar*/
.nav-bar{
    display: flex;
    font-size: 1.6em;
    background-color: #777E4B;
    position: relative;
    justify-content: center;
    align-items: center;
}
.nav-options{
    padding: 0.5%;
    margin: 0.5%;
    text-decoration: none;
    color: white;
}
.nav-options:hover{
    background-color: #D3632B;
    border-radius: 12px;
}
.logo{
   position: absolute;
   left: 0;
}
.logo:hover{
    background-color: #777E4B;
}
.account-icon{
    background-color: white;
    border-radius: 100%;
    border: 1px solid black;
    position: absolute;
    right: 0;
    margin: 0.6%;
    margin-top: 0.8%;
    padding: 0.5%;
    fill: black;
}

/*Footer*/
.footer{
    background-color: gray;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icons-list{
    width: 15%;
}
.icons-list a{
    text-decoration: none;
}
.social-media-icons{
    margin: 5%;
    font-size: 1.4rem;
}
