*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    margin: 0.5%;
}
/*Navigation Bar*/
.nav-bar{
    display: flex;
    font-size: 1.6em;
    background-color: black;
    position: relative;
    justify-content: center;
}
.nav-options{
    padding: 1%;
    text-decoration: none;
    color: white;
}
.nav-options:hover{
    background-color: blue;
}
.logo{
   position: absolute;
   left: 0;
}
.logo:hover{
    background-color: black;
}

/*Footer*/
.footer{
    background-color: gray;
    padding: 5%;
}
